{% block content %}
{% load static %}
<head>
    <title>Login</title>
</head>
<link rel="stylesheet" href="{% static 'assets/css/styleforlogin.css' %}">
<h1>Login</h1>
<h3>Enter your login credentials</h3>

<form action="" method="post">
    {% csrf_token %}
    <label for="id_username">
        Username:
    </label>
    <input type="text" id="id_username" name="username"
           placeholder="Enter your Username" required>

    <label for="id_password">
        Password:
    </label>
    <input type="password" id="id_password" name="password"
           placeholder="Enter your Password" required>

    <div class="wrap">
        <button type="submit">
            Submit
        </button>
    </div>
</form>

<p>Not registered?
    <a href="{% url 'register' %}" style="text-decoration: none;">
        Create an account
    </a>
</p>
{% endblock %}